.App {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  background-color: #F5EBE0;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #594545;
}

.todo-section {
  background-color: #FEFCF3;
  padding: 20px 0;
}

.todo-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 20px auto;
  max-width: 1440px;
  padding: 0;
  width: 90%;
}

.todo-container > li {
  width: 28%;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 6px;
}

.todo-status-header {
  display: flex;
  justify-content: space-between;
}

.todo-status-header h2 {
  margin: 0;
}

.todo-status-section {
  border: 1px solid gray;
  height: 400px;
  margin: 20px 0;
}

.add-task-field {
  margin: 10px auto;
  width: 90%;
}

.todo-tasks {
  list-style: none;
  padding: 15px 10px;
}

.todo-tasks > li {
  /* text-align: start; */
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.todo-tasks > li > p {
  margin: 0;
}

.empty-error {
  text-align: start;
  color: rgb(239, 36, 36);
}